
@keyframes pop {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}

@keyframes shineRed {
	from {
		background: #ffffff;
	}
	to {
		background: #edb9b9;
	}
}

@keyframes shineBlue {
	from {
		background: #ffffff;
	}
	to {
		background: #b9b9ed;
	}
}
