
@keyframes pop {
	from {
		transform: scale(0, 0);
	}
	to {
		transform: scale(1, 1);
	}
}

@keyframes shineRed {
	from {
		background: #ffffff;
	}
	to {
		background: #e4b7b7;
	}
}

@keyframes shineBlue {
	from {
		background: #ffffff;
	}
	to {
		background: #b7b7e4;
	}
}
