
@import url(/fonts/clear-sans.css);

* {
	margin: 0;
	padding: 0;
}

body {
	background: #e7e7e7;
}

.main-container {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.main {
	margin: 30px;
	font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
	min-width: 540px;
	user-select: none;
}

.header {
	height: 72px;
	line-height: 72px;
}

.header h1.title-text {
	display: block;
	float: left;
	font-size: 44px;
	font-weight: 700;
	color: #433;
}

.header .scores-container {
	display: block;
	float: right;
}

.scores-container > div {
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	font-size: 24px;
	font-weight: 700;
	min-width: 35px;
	height: 40px;
	line-height: 60px;
	background: #bbada0;
	border-radius: 3px;
	color: #fff;
	margin-top: 8px;
	margin-left: 8px;
	text-align: center;
}

.scores-container > div:after {
	position: absolute;
	width: 100%;
	top: 10px;
	left: 0;
	font-size: 15px;
	line-height: 15px;
	text-align: center;
	text-transform: uppercase;
	color: #eee4da;
}

.scores-container > div.highlight {
	box-shadow: 0px 0px 25px #ffff66;
}

.scores-container > div.highlight:after {
	color: #fff;
}

.scores-step:after {
	content: 'step';
}

.scores-red:after {
	content: 'red';
}

.scores-blue:after {
	content: 'blue';
}

.above-game {
	position: relative;
	height: 80px;
}

.game-intro {
	display: block;
	position: absolute;
	top: 50%;
	left: 3px;
	font-size: 18px;
	color: #433;
	transform: translateY(-50%);
}

.game-btn {
	font-size: 17px;
	font-weight: 600;
	line-height: 17px;
	text-align: center;
	height: 17px;
	color: #fff;
	background: #8f7a66;
	border-radius: 3px;
	cursor: pointer;
}

.choose-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	padding: 16px 20px;
	transform: translateY(-50%);
}

.choose-btn {
	display: block;
	position: absolute;
	right: 0;
	top: 50%;
	padding: 16px 20px;
	transform: translateY(-50%);
}

.game-container {
	position: relative;
	width: 575px;
	height: 575px;
	border-radius: 3px;
	background: #ad947d;
}

.game-message {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1001;
	background: rgba(255, 255, 255, 0.5);
}

.game-history-container > div {
	text-align: center;
}

.game-history-table {
	display: table;
	margin: 10px 0;
}

.game-history-table > div > div {
	text-align: left;
}

.game-history-table > div {
	display: table-row;
	height: 50px;
}

.game-history-table > div > div {
	display: table-cell;
	vertical-align: middle;
}

.game-history-table > div > div:last-child {
	padding-left: 20px;
}

.game-history-title {
	font-size: 19px;
	font-weight: 700;
	color: #433;
}

.game-history-info {
	display: inline-block;
	font-size: 17px;
	font-weight: 600;
	line-height: 17px;
	text-align: center;
	height: 17px;
	color: #fff;
	background: #8f7a66;
	border-radius: 3px;
	margin-left: 7px;
	padding: 12px 0;
	width: 240px;
}

.game-index-minus, .game-index-plus {
	display: inline-block;
	margin: 0 6px;
	padding: 10px 12px;
	line-height: 17px;
}

.game-index-text {
	display: inline-block;
	width: 7.5em;
	padding: 10px 6px;
	line-height: 17px;
	box-sizing: border-box;
	text-align: center;
	color: #433;
	background: #d7bca1;
	font-weight: 700;
	border-radius: 3px;
}

.game-start-btn, .game-reload-btn {
	display: inline-block;
	padding: 12px 25px;
	margin: 0 6px;
}

.game-win-message > div {
	color: #6f5a45;
	text-align: center;
	font-weight: 700;
}

.game-win-title {
	font-size: 50px;
	line-height: 100px;
}

.game-win-text {
	font-size: 32px;
	line-height: 60px;
}

.grid-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-left: 1px solid #aaa;
	border-top: 1px solid #aaa;
	z-index: 1000;
}
